
body{
    background-color: #aad4cf;
}

html{
    background-color: cadetblue;
}

h1{
    color: white
}

div h1{ 
    position: relative; right: 500px;

}

div{
    position: absolute;
transform: translate(-50,-50
top: 100%;
left: 100%;
   
}

nav{
    
}


