
body{
    background-color: #aad4cf;
     margin: auto;
     width: 1332px;
}

html{
    background-color: cadetblue;
}

h1{
    position: relative; top: 270px;
    color: white;
    text-align: center;
    z-index: 10;
    
}

.table li{ 
list-style: none; 
float: left;
width: 33%;
text-align: center;
}

.table li:not(:first-child){
border-left: black 1px solid;

}

.star{ 
    position: relative; top: -70px;
width: 100%;

}

.smallstar{
    float:left;
    width: 400px;
}

h3{
    clear: both;
}