body{
    background-color: lavender; }
 
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 18px;}

 a{
 text-decoration:none; }


 footer{
     background-color: lightpink; }

     a:hover{
        color: steelblue; }
       
   a{ 
       background-color: thistle; }
   
    img :hover {
background-color: thistle; }

a ul{
    list-style: symbols(square); }



